In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('Book1.csv')
df

        day  temperature   windspeed   event
0  1/1/2023            27          3  cloudy
1  2/1/2023            31          6   rainy
2  3/1/2023            34          9   sunny

In [5]:
df = pd.read_excel('Book1.xlsx','Sheet1')
df

   Unnamed: 0        day  temperature   windspeed   event
0         NaN 2023-01-01            27          3  cloudy
1         NaN 2023-02-01            31          6   rainy
2         NaN 2023-03-01            34          9   sunny