In [1]:
import numpy as np
import pandas as pd

In [2]:
#csv
df = pd.read_csv('Book1.csv')
df

        day  temperature   windspeed   event
0  1/1/2023            27          3  cloudy
1  2/1/2023            31          6   rainy
2  3/1/2023            34          9   sunny

In [3]:
#excel
df = pd.read_excel('Book1.xlsx','Sheet1')
df

         day  temperature   windspeed   event
0 2023-01-01            27          3  cloudy
1 2023-02-01            31          6   rainy
2 2023-03-01            34          9   sunny

In [4]:
#dictionary
climate_data = {
    'day':['01/01/2023','01/02/2023','01/03/2023'],
    'temperature':[27,31,34],
    'windspeed':[3,6,9],
    'event':['cloudy','rainy','sunny']
}

df = pd.DataFrame(climate_data)

df

          day  temperature  windspeed   event
0  01/01/2023           27          3  cloudy
1  01/02/2023           31          6   rainy
2  01/03/2023           34          9   sunny

In [5]:
#tuples

climate_data = [
    ('01/01/2023',27,3,'cloudy'),
    ('01/02/2023',31,6,'rainy'),
    ('01/03/2023',34,9,'sunny')
]
df = pd.DataFrame(data = climate_data,index=['x','y','z'],columns=['day','temperature','windspeed','event'])
df

          day  temperature  windspeed   event
x  01/01/2023           27          3  cloudy
y  01/02/2023           31          6   rainy
z  01/03/2023           34          9   sunny

In [6]:
#using list of dictionaries
climate_data = [
    {'day':'01/01/2023','temperature':27,'windspeed':3,'event':'cloudy'},
    {'day':'01/02/2023','temperature':31,'windspeed':6,'event':'rainy'},
    {'day':'01/03/2023','temperature':34,'windspeed':9,'event':'sunny'}
]

df = pd.DataFrame(data= climate_data,index=['a','b','c'],columns=['day','temperature','windspeed','event'])

In [7]:
df

          day  temperature  windspeed   event
a  01/01/2023           27          3  cloudy
b  01/02/2023           31          6   rainy
c  01/03/2023           34          9   sunny